@charset "UTF-8";
 * { 
 	text-align: center; 
 } 
 
 .container{
	 display: flex;
	 align-items: center;
 }
 
.battle-page{
	display:grid;
	grid-template-columns: repeat(2, minmax(auto,auto));
	grid-template-rows: repeat(7, minmax(auto,auto));
	grid-gap: 10px;
	min-width: 380px;
	height: 700px;
}

.item { 
 	width: fit-content; 
 	padding: 10px; 
 	margin: auto; 
 } 

 .item.title { 
 	grid-column: 1/3; 
 	grid-row: 1/2; 
 } 

 .item.my { 
 	grid-column: 1/2; 
 } 

 .item.monster { 
 	grid-column: 2/3; 
 } 
 .item.hp{
 	grid-row: 2/3;
 }
 
 .item.dice{
 	border: 1px solid; 
 	width: fit-content; 
 	grid-row: 4/5;
 }
 
 .item.dice.my{
 	color: teal; 
 }

 .item.dice.monster{
 	color: red; 
 }
 
 .item.diceroll { 
 	grid-column: 1/3; 
 	grid-row: 3/4; 
 	width: 300px; 
 	background-color: green; 
 } 

/* .item:nth-child(5) { */
/* 	float: right; */
/* 	color: teal; */
/* } */

/* .item:nth-child(6) { */
/* 	border: 1px solid; */
/* 	width: fit-content; */
/* 	float: left; */
/* 	color: red; */
/* } */

 .item.result { 
 	grid-column: 1/3; 
 } 

 .item.button-box { 
 	grid-column: 1/3; 
 } 

 #myHp { 
 	border: 2px solid red; 
 	padding: 10px; 
 	margin: auto; 
 } 

 #monsterHp { 
 	border: 2px solid red; 
 	padding: 10px; 
 	margin: auto; 
 } 

 #myDice { 
 	border: 2px solid red; 
 	padding: 10px; 
 	margin: auto; 
 }
  #monsterDice { 
 	border: 2px solid red; 
 	padding: 10px; 
 	margin: auto; 
 }
 img{
	 width:100%;
 }
/* .monster-img{*/
/*	 width:100%;*/
/* }  */

 
	
	
	
	
	