@charset "UTF-8";
.title{
	margin: 10px auto;
	background-image: url("../img/number.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	display: block;
	padding:100px;
	margin-bottom: 15px;
}

.item {

	width: 400px;
	height: 120px;
	border:solid;
	margin: 80px auto;
	text-align: left;
	align-content: center;
	box-sizing: border-box;
	display: block;
	justify-content: center;	
}
.input{
	margin: 0 auto;
	width: 100px;
	display: inline-block;	
}

