@charset "UTF-8";
.monster {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #000;
    background-color: #ff0;
    
}
span{
	font-size: 15px;
	font-weight: bold;
}