@charset "UTF-8";

.container {
	text-align:center;
	box-shadow: 0 0 10px 7px black;
	padding: 10px;
	margin: auto;
	justify-content: center;
	width: 1000px;
	height: 700px;
	overflow: hidden;
}

input[type="submit"] {

	margin: 10px auto;
	display: block;
	width: 120px;
	height: 50px;
	font-size: 21px;
}